.form-signin {
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.container-content {
    margin: 10px;
}

.top-buffer {
    margin-top: 8px;
}

.navbar-right-spacing {
    margin-right: 160px;
}

.btn:focus {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn.active:focus {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.gantt-timeframe-holiday {
    border: solid 2px black;
    opacity: 0.6;
}

.gantt-row-milestone {
    font-weight: bold;
    vertical-align: middle;
    color: white;
}

div.live-table {
    display: table;
    width: 100%;
}

div.live-row {
    display: table-row;
}

div.live-cell {
    display: table-cell;
    padding: 5px;
    width: 50%;
}

textarea.live-task,
textarea.live-row {
    width: 100%;
    height: 300px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9em;
    color: #333;
}


/*login form*/

.form-signin {
    padding: 40px;
    max-width: 400px;
    margin: 30px auto;
}

.is-loading-wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    z-index: 99999;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
}

.is-loading-box {
    z-index: 1001;
    position: fixed;
    top: 40%;
    left: 50%;
    min-width: 320px;
    max-width: 400px;
    width: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.task-highlight {
    z-index: 9999;
    -webkit-transition: all 0.4 ease-in-out;
    -moz-transition: all 0.4 ease-in-out;
    -o-transition: all 0.4 ease-in-out;
    transition: all 0.4 ease-in-out;
}

.task-highlight .gantt-task-content{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.99);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.99);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.99);
    -webkit-transition: all 0.4 ease-in-out;
    -moz-transition: all 0.4 ease-in-out;
    -o-transition: all 0.4 ease-in-out;
    transition: all 0.4 ease-in-out;
}

.isLight {
    color: #fff;
}

.isDark {
    color: #333;
}

.isDelivering {
}

.isCompleted .gantt-task-background{
    /*background-color: #9ac200 !important;*/
}

.isDraft .gantt-task-background{
    background-color: gray !important;
}

.tooltip-content {
    color: #333;
}

.gantt-task-content {
    text-overflow : ellipsis;
    overflow : hidden;
}

.gantt-task-info {
    padding: 0 important;
}
.tooltip-content {
    padding: 0;
    margin: 0;
    border-top: 0 !important;
}

.tooltip-content.table tr:first-child td {
    border: 0;
}

.modal-backdrop.am-fade {
  opacity: .7;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .7;
    }
  }
  &.ng-leave {
    opacity: .7;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

/*one gantt*/

#one-gantt .modal-dialog {
    width: 90%;
    height: 80%;
}

#one-gantt .isHide {
    height: 0px;

}

#one-gantt .gantt-scrollable {
    overflow-x: scroll;
    min-height: 300px;
}

#one-gantt .gantt-scrollable .gantt-body:before {
    content: ' ';
    display: block;
    height: 1px;
    width: 100%;
}

#one-gantt .is-loading-wrap {
    position: absolute;
    background-color: rgba(255,255,255,0.7);
}

#one-gantt .is-loading-box {
    position: absolute;
    top: 50%;
}
